/** ====================================================================================/
 *  Weather APP Styles
 * ====================================================================================*/
body {
  padding-top: 70px;
}
div.alert {
  background-color: rgba(255, 246, 23, 0.32);
}

#content {
  margin-top: 8.0em;
}

.page-view p, .page-view h3 {
  text-align: center;
}
